.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family:Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: #1f2937;
}
.navigation {
    display: flex;
    flex-direction: column;
    max-height: 25%;
    width: 100%;
    /* border-bottom: solid;
    border-width: 10px;
    border-color: #fcb54d; */
}
.linkdiv {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
}
.links a:link, .links a:visited, .links a:link {
    color: #1f2937;
    text-decoration: none;
}
.links a:hover, .links a:focus, .links a:active {
    color: #c93e03;
}
.links{
    display: flex;
    padding: 5px 5px 5px 5px;
    color: #1f2937;
    font-size: 20px;
}
.logo {
    display:flex;
    object-fit: cover;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;

}
.main {
    display: flex;
    background-color: #0c4383;
    height: 500px;
    border: solid;
    border-width: 10px;
    border-color: #fcb54d;
}
